/* RESET & TYPOGRAPHY */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 160%;
  color: #151515;
  background-color: #fff;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    font-size: 22px;
  }
}
@media screen and (min-width: 1800px) {
  body {
    font-size: 24px;
  }
}
body, html, div {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-style: italic;
  line-height: 1.25;
}
a {
  color: #0021D8;
  border-bottom: 1px solid;
  text-decoration: none;
}
a:hover,
a:focus {
}
strong {
  font-weight: 500;
  font-style: italic;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
hr {
  margin: 2em 0;
}
table { 
	border-collapse: collapse; 
}
tr {
	
}
th, td {
	padding: 0.5em;
	border: 2px solid #999;
	text-align: center;
}
/* LAYOUT */
body {
  width: 100%;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 1500px) {
  .wrapper {
    width: 45%;
  }
}

/* HEADER */
.site-header {
  padding: 2em 0 3em;
}
.wrapper {
  clear: both;
}
.site-title {
  float: left;
  font-size: 1.5em;
  line-height: 1em;
}
.site-nav {
  float: right;
}
.lang-switch {
  float: left;
  margin: 0 2em;
}
.lang-element {
  margin: 0 0.3em;
}

/* HOME */
.post-list {
  margin-top: 2em;
  list-style-type: none;
  padding-left: 0;
}
.post-list li {
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-style: italic;
}

/* POST */
.post-title {
  margin-bottom: 0.2em;
}
.post-meta {
  margin-top: 0;
}

/* FOOTER */
.site-footer {
  margin: 3em 0 2em;
}

/* PRIE */

.black-border {
  border: 6px solid black;
  padding: 2rem;
  margin: 5rem 0 3rem;
}

.black-border img {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 260px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.black-border small {
  font-size: 1em;
  margin-bottom: 0;
  font-variant: small-caps;
}

.black-border h2 {
  margin: 0.3em 0 0;
}

.black-border h2+p {
  margin: 0.5rem 0 2rem;
}

.black-border p:last-child {
  margin-bottom: 0.5em ;
}

@media (min-width: 550px) {
  .black-border {
    display: flex;
    gap: 2.5rem;
  }
  .black-border img {
    max-width: 50%;
    max-height: none;
    margin: 0;
  }
}
