<!DOCTYPE html>
<html>

    {% include head.html %}

  <body>

 <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <!-- Lang Switcher -->

    <nav class="lang-switch">
      <span class="lang-element">
          <a href="/" >de  </a>
        </span>
      <span class="lang-element">
          <a href="/eo" >eo  </a>
        </span>
      <span class="lang-element">
          <a href="/it" >it  </a>
        </span>

    </nav>


  </div>

</header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
